<head>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Indie+Flower&family=Philosopher&family=Space+Mono&family=Special+Elite&display=swap" rel="stylesheet">
      
    <style>
    body {
      font-family: 'Fredericka the Great', cursive;
    }
    </style>
    </head>

<body>


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/games">
            <img src="https://i.imgur.com/IAkyflz.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            WeGame
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="/games">Home</a>
            </li>
        </ul>
            <a href="/games/logout"><button class="btn btn-outline-success">Logout</button></a>
        </div>
    </div>
  </nav>

<br><br>


<div class="album py-5 bg-light" >
    <div class="container" >
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
        <form action="/games/<%= game.id %>?_method=PUT" method="POST" >
        <div class="col" >
          <div class="card shadow-sm">
           
                <img src="<%= game.img %>" alt="image" class="bd-placeholder-img card-img-top" width="100%" height="225" >
               <div style="align-self: center;" class="card-body"><p class="card-text"> <b>Name: </b><input type="text" name="title" value="<%= game.title %> "></p></div>
               <div class="card-body">
              <textarea name="description" cols="30" rows="10"><%= game.description%></textarea> 
              <p class="card-text"></p><b>Age: </b> <input type="text" name="age" value="<%= game.age %> "></p>
              <p class="card-text"><b>Number of players: </b><input type="text" name="players" value="<%= game.players %>"></p>
              
            <p class="card-text"> Choose category:
                <p>
                <label for="category"> Kids </label>
                <% if(game.category.includes('kids')===true){%> 
                    <input type="checkbox" name="category[]" value="kids" checked>
                    <%} else {%> 
                <input type="checkbox" name="category[]" value="kids" >
                <%}%>
                <label for="category">Adults</label>
                <% if(game.category.includes('adults')===true){%> 
                <input type="checkbox" name="category[]" value="adults" checked>  
                <%} else {%>  
                <input type="checkbox" name="category[]" value="adults">
                <%}%>
                <label for="category">Indoor</label>
                <% if(game.category.includes('indoor')===true){%> 
                <input type="checkbox" name="category[]" value="indoor" checked>
                <%} else {%> 
                <input type="checkbox" name="category[]" value="indoor">
                <%}%>
                <label for="category">Outdoor</label>
                <% if(game.category.includes('outdoor')===true){%> 
                <input type="checkbox" name="category[]" value="outdoor" checked>
                <%} else {%> 
                <input type="checkbox" name="category[]" value="outdoor">
                <%}%>
                </p>
            </p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Save</button>
                    </form> 
                </div>
              </div>
              </div>
            </div>
          </div>         
        </div>
    </div>
 </div>
</body>


<!-- <p class="mt-5 mb-3 text-muted"> Choose category:
    <label for="category"> Kids </label>
    <input type="checkbox" name="category[]" value="kids">
    <label for="category">Adults</label>
    <input type="checkbox" name="category[]" value="adults">
    <label for="category">Indoor</label>
    <input type="checkbox" name="category[]" value="indoor">
    <label for="category">Outdoor</label>
    <input type="checkbox" name="category[]" value="outdoor">
</p> -->