
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://i.imgur.com/IAkyflz.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            WeGame
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link" href="/games">Home</a>
          </li>
        </ul>
            <a href="/games/logout"><button class="btn btn-outline-success">Logout</button></a>
        </div>
    </div>
  </nav>  
    
  
       
<% game.forEach((el)=>{%>
    <ul style="list-style-type: none;">
        <li><h2><a href="/games/<%= el.id %>"><%= el.title %> </a></h2></li>
        <li><img src="<%= el.img %>" alt="image"></li> <br>
        <li><b>Description: </b><%= el.description %></li><br>
        <li><b>Age: </b> <%= el.age %> </li><br>
        <li><b>Number of players: </b><%= el.players %> </li><br>

        <form action="/games/<%= el.id %>/edit">
            <button type="submit">EDIT</button>
        </form> <br>

    </ul><br>
 <%}) %> 

 <a href="/games">HOME</a>


